<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All measurements
    </h1>

    <a href="/measurements/new" class="btn btn-block btn-outline-secondary">
      Add a new measurement
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "measurement_templates/measurements_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Shirt size
        </th>

        <th>
          Pant size
        </th>

        <th>
          Shoe size
        </th>

        <th>
          Instagram link
        </th>

        <th>
          Image link
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @measurements.each do |measurement| %>
      <tr>
        <td>
          <%= measurement.id %>
        </td>

        <td>
          <%= measurement.shirt_size %>
        </td>

        <td>
          <%= measurement.pant_size %>
        </td>

        <td>
          <%= measurement.shoe_size %>
        </td>

        <td>
          <%= measurement.instagram_link %>
        </td>

        <td>
          <%= measurement.image_link %>
        </td>

        <td>
          <%= time_ago_in_words(measurement.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(measurement.updated_at) %> ago
        </td>

        <td>
          <a href="/measurements/<%= measurement.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @measurements, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
