<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Measurement #<%= @measurement.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/measurements" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/measurements/<%= @measurement.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit measurement
        </a>
      </div>

      <div class="col">
        <a href="/delete_measurement/<%= @measurement.id %>" class="btn btn-block btn-outline-secondary">
          Delete measurement
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Shirt size
      </dt>
      <dd>
        <%= @measurement.shirt_size %>
      </dd>

      <dt>
        Pant size
      </dt>
      <dd>
        <%= @measurement.pant_size %>
      </dd>

      <dt>
        Shoe size
      </dt>
      <dd>
        <%= @measurement.shoe_size %>
      </dd>

      <dt>
        Instagram link
      </dt>
      <dd>
        <%= @measurement.instagram_link %>
      </dd>

      <dt>
        Image link
      </dt>
      <dd>
        <%= @measurement.image_link %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@measurement.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@measurement.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

